.contents_text{
    /* margin-top: 30px;
    margin-left: 50px; */
    margin: 40px 50px 0px 50px;
    text-align: justify;
    font-size: 20px;
    line-height: 40px;
}

.window{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 40px 40px 0px 43px;
    border: solid 1px #999999;
    border-radius: 20px;
    height: 150px;
}

.s_box{
    /* border-radius: 10px; */
    /* border: solid 1px #999999; */
    width: 200px;
    height: 100px;
    line-height: 35px;
}

.s_box1{
    font-size: 15px;
}

.box_line{
    width: 190px;
    height: 1px;
    border: none;
    background-color: #999999;
}


.s_box2{
    font-size: 15px;

}

.s_box3{
    line-height: 20px;
    font-weight: bold;
    font-size: 20px;

}

.m_box1{
    margin: 0px 0px 0px 30px;
    border: solid 1px #999999;
    border-right: none;
    width: 150px;
    height: 100px;
    border-radius: 10px 0px 0px 10px;
}

.m_box2{
    margin: 0px 30px 0px 0px;
    border: solid 1px #999999;
    width: 150px;
    height: 100px;
    border-radius: 0px 10px 10px 0px;
}

.m_text{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


.date{
    margin-left: 20px;
    color:#999999;
}

.l_box{
    position: relative;
    border-radius: 10px;
    border: solid 1px #999999;
    width: 300px;
    height: 100px;
}

.l_text{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.guest{
    margin-left: 20px;
    color:#999999;
}

.guest_icon{
    position: absolute;
    right: 10%;
    top: 40%;
}

.guest_icon img{
    width: 20px;
}

.book_box{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.book_box1{
    background-color: #5498FF;
    border: solid 1px #999999;
    width: 110px;
    height: 45px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    font-weight:500;
    color: white;
    font-size: 18px;
}

.book_box2{
    background-color: #474747;
    border: solid 1px #999999;
    width: 110px;
    height: 45px;
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    font-weight:500;
    color: white;
    font-size: 18px;
}