.wrap{
 max-width: 1280px;
 margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100px;
    margin: 0 auto;
    width: 1280px;
}

.header_logo {
    /* position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); */
    /* margin-left: 50px;  */
    width: 50px;
    margin: 30px 10px 30px 50px;
    cursor: pointer;
}

.header_logo img {
    width: 150px;
    overflow: hidden;
}

.header_search {
    position: relative;
    line-height: 100px;
    margin-left: 150px;
    margin-left: 100px;

}

.header_search input {
    height: 40px;
    width: 500px;
    border: none;
    padding-inline-start: 45px;
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: inherit;
    outline: none;
    box-shadow:
        1px 1px 5px rgba(64, 60, 67, .24)
        /* z-index: 2; */
}

.header_search img {
    position: absolute;
    width: 25px;
    left: 15px;
    top: 40px
}

.header_search .input_list {
    position: absolute;
    display: none;
    background-color: white;
    width: 100%;
    /* border: 1px solid red; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow:
        0 9px 8px -5px rgba(64, 60, 67, .24), 8px 0 8px -8px rgba(64, 60, 67, .24), -8px 0 8px -8px rgba(64, 60, 67, .24);
    z-index: 1;
    height: 400px;
    margin-top: -35px;
}

.input_list .goto_room {
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.goto_room input {
    cursor: pointer;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    width: 450px;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
    box-shadow:
        1px 1px 5px rgba(64, 60, 67, .24);
}

.goto_room input:hover {
    font-weight: bold;
    color: #5498FF;
}

.input_list li {
    height: 50px;
    line-height: 50px;
    /* margin-top: 2px; */
    margin-left: 30px;
    font-size: 18px;
}

/* .input_list hr {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    height: 2px;
    margin: 0px auto;
    width: 490px;
} */

.input_list li:hover {
    font-weight: bold;
    color: #5498FF;
}

.threeline {
    position: relative;
    margin: 35px 50px 35px 10px;
}

.threeline img {
    cursor: pointer;
    width: 50px;
    height: 35px;
}

.menu {
    display: none;
    text-align: center;
    width: 150px;
    height: 250px;
    padding: 0;
    position: absolute;
    border-radius: 30px;
    margin-top: 10px;
    right: 0px;
    z-index: 1;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.menu li a:hover {
    color: #5498FF;
}

.menu li {
    margin-top: 25px;
}

.header_line {
    margin: 0;
    height: 2px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}